<%= form_for(@regiment_exercise) do |f| %>
  <% if @regiment_exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regiment_exercise.errors.count, "error") %> prohibited this regiment_exercise from being saved:</h2>

      <ul>
      <% @regiment_exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
