<div id="front-page">
  <nav class="main-nav">
  <div>
    <a href="concierge" data-section="0" class="main-nav-item is-active">Exercise<br>Concierge</a>
    <a href="workouts" data-section="1" class="main-nav-item">Browse<br>Workouts</a>
    <a href="tips and myths" data-section="2" class="main-nav-item">Fitness<br>tips &amp; myths</a>
    <a href="" data-section="0" class="main-nav-logo">
      <img src="http://cdn01.wallconvert.com/_media/wallpapers_1920x1080/1/2/polygon-batman-logo-14577.jpg">
    </a>
    <a href="Enjoy Life" data-section="4" class="main-nav-item">Balanced<br>Nutrition</a>
    <a href="Sign Up" data-section="4" class="main-nav-item">log in</a>
    <a href="Log In" data-section="5" class="main-nav-item">sign up</a>
  </div>
  </nav>

  <section class="concierge-section">
  <div id="concierge-lobby">
    <h1 id="concierge-welcome">Welcome to <span style = "color: #00ffff">polyfit</span>!<br>which service would you like today:</h1>
    <div class="1-grid-5-options">
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! I'm going to hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
    </div>
  </div>
  </section>
    <div id="footer" style="visibility: visible; color: rgb(255, 255, 255);">
    <span>©2013-2014 Polyfit Inc.</span>
    <a href="url">About Us</a>
    <a href="url">Copyright</a>
    <a href="url">Privacy Policy</a>
    <a href="url">Terms of Service</a>
    <a href="url">FAQ</a>
    <a href="url">Support Us</a>
  </div>
    <a href="url" id="facebookpage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/facebook.png" tintcolor="FFFFF" defaultsrc="assets/facebook_icon.png" tintsrc="assets/facebook_icon.png"/></a>
    <a href="url" id="twitterpage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/twitter.png" tintcolor="FFFFFF" defaultsrc="assets/twitter_icon.png" tintsrc="assets/twitter_icon.png"/></a>
    <a href="url" id="youtubepage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/you_tube.png" tintcolor="FFFFFF" defaultsrc="assets/podcast_icon.png" tintsrc="assets/podcast_icon.png"/></a>
    <a href="url" id="stumbleuponpage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/stumbleupon.png" tintcolor="FFFFFF" defaultsrc="assets/podcast_icon.png" tintsrc="assets/podcast_icon.png"/></a>
  </div>