<nav class="main-nav">
  <div>
    <a href="concierge" data-section="0" class="main-nav-item is-active">Exercise<br>Concierge</a>
    <a href="workouts" data-section="1" class="main-nav-item">Browse<br>Workouts</a>
    <a href="tips and myths" data-section="2" class="main-nav-item">Fitness<br>tips &amp; myths</a>
    <a href="" data-section="0" class="main-nav-logo">
      <img src="http://cdn01.wallconvert.com/_media/wallpapers_1920x1080/1/2/polygon-batman-logo-14577.jpg">
    </a>
    <a href="Enjoy Life" data-section="4" class="main-nav-item">Balanced<br>Nutrition</a>
    <a href="login" data-section="4" class="main-nav-item">log in</a>
    <a href="signup" data-section="5" class="main-nav-item">sign up</a>
  </div>
</nav>

<section class="concierge-section">
  <div id="concierge-lobby">
    <h1 id="concierge-welcome">Welcome to <span style = "color: #00ffff">polyfit</span>!<br>which service would you like today:</h1>
    <div class="1-grid-5-options">
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! I'm going to hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
      <div class="option">
        <div class="option-icon">
          <img class="option-icon-img" src="url"/>
        </div>
        <h2 class="option-title">Spontaneous Workout</h2>
        <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
      </div>
    </div>
  </div>
</section>