<section class="concierge-section">
<div id="concierge-lobby">
  <h1 id="concierge-welcome">Welcome to <span style = "color: #00ffff">polyfit</span>!<br>which service would you like today:</h1>
  <div class="1-grid-5-options">
    <div class="option">
      <div class="option-icon">
        <img class="option-icon-img" src="url"/>
      </div>
      <div class="option-title">Spontaneous Workout</div>
      <p class="option-description">Unexpected freetime! I'm going to hit the gym!</p>
    </div>
    <div class="option">
      <div class="option-icon">
        <img class="option-icon-img" src="url"/>
      </div>
      <h2 class="option-title">Spontaneous Workout</h2>
      <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
    </div>
    <div class="option">
      <div class="option-icon">
        <img class="option-icon-img" src="url"/>
      </div>
      <h2 class="option-title">Spontaneous Workout</h2>
      <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
    </div>
    <div class="option">
      <div class="option-icon">
        <img class="option-icon-img" src="url"/>
      </div>
      <h2 class="option-title">Spontaneous Workout</h2>
      <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
    </div>
    <div class="option">
      <div class="option-icon">
        <img class="option-icon-img" src="url"/>
      </div>
      <h2 class="option-title">Spontaneous Workout</h2>
      <p class="option-description">Unexpected freetime! Let's hit the gym!</p>
    </div>
  </div>
</div>
</section>