<h1>TEST PAGE</h1>

<style>
  #products { float:left; width: 500px; margin-right: 2em; }
  #cart { width: 200px; float: left; margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  #cart ol { margin: 0; padding: 1em 0 1em 3em; }
</style>

<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
</script>

<script>
  $(function() {
    $('ul#sortable').sortable({
      start: function(event, ui) {
        var start_pos = ui.item.index();
        ui.item.data('start_pos', start_pos);
      },
      update: function(event, ui) {
        var start_pos = ui.item.data('start_pos');
        var end_pos = $(ui.item).index();
        alert(start_pos + ' - ' + end_pos);
      }
    });
  });
</script>

<script>
$(function () {
  $("#catalog").accordion();
  $("#catalog li").draggable({
    appendTo: "body",
    helper: "clone",
    connectToSortable: "#cart ol"
  });
$("#cart ol").sortable({
    items: "li:not(.placeholder)",
    connectWith: "li",
    start: function(event, ui) {
      var init_index = ui.item[0].value;
      ui.item.data('init_index', init_index);
    },
    sort: function () {

      $(this).removeClass("ui-state-default");
    },
    over: function (event, ui) {
      //hides the placeholder when the item is over the sortable
      $(".placeholder").hide(); 
    },
    out: function () {
      if ($(this).children(":not(.placeholder)").length == 0) {
        //shows the placeholder again if there are no items in the list
        $(".placeholder").show();
      }
    },
    update: function(event, ui) {
      init_index = ui.item.data('init_index');
      end_index = ui.item.index();
      console.log(init_index + ' - ' + end_index);
      console.log('  value = ' + ui.item[0].value);
    }
  });
});
</script>

<style>
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; cursor: move ;}
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
</style>

<ul id="sortable">
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
  <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>

<div id="products">
  <h1 class="ui-widget-header">Products</h1>
  <ul id="catalog">
    <li value="1">Lolcat Shirt</li>
    <li value="2">Cheezeburger Shirt</li>
    <li value="3">Buckit Shirt</li>
  </ul>
</div>
 
<div id="cart">
  <h1 class="ui-widget-header">Shopping Cart</h1>
  <div class="ui-widget-content">
    <ol>
      <li class="placeholder">Add your items here</li>
    </ol>
  </div>
</div>

<%= form_for(@regiment) do |f| %>
  <%= select_tag :exercises, options_for_select(Exercise.all.collect { |x| [x.name, x.id, selected: @regiment.exercises.include?(x)] }), { include_hidden: false, multiple: true } %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
