/* {
  border: 1px dashed white;
}*/

#footer {
  border: 1px dashed white;
  bottom: 0px;
  color: #FFFFFF;
  font-family: NeuzeitGroTOTRegular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 32px;
  margin: 0px auto;
  vertical-align: middle;
  width: 1000px;
}

#footer a {
  left: 60px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 35%;
}

#footer a:link {
  color: #FFFFFF;
}

#footer a:hover {
  background-color: transparent;
}

#footer span {
  left: 4%;
  position: relative;
  top: 35%;
}

#front-page {
  -webkit-font-smoothing: antialiased;
  background-color: #232323;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  line-height: 1;
  margin: 0px auto;
  overflow: auto;
  vertical-align: middle;
  white-space: nowrap;
  text-rendering: optimizelegibility;
}

.main-nav {
  -webkit-transition: top 400ms ease, opacity 400ms ease;
  -moz-transition: top 400ms ease, opacity 400ms ease;
  -o-transition: top 400ms ease, opacity 400ms ease;
  background-color: black;
  background-position: initial initial;
  background-repeat: initial initial;
  display: block;
  height: 120px;
  width: auto;
  left: 0;
  opacity: 0.9;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: top 400ms ease, opacity 400ms ease;
  z-index: 1;
}

.main-nav-item.is-active {
  border-color: #00ffff;
  color: #00ffff;
  cursor: default;
  opacity: 1;
  text-decoration: none;
}

.main-nav-item {
  color: white;
  border: 3px solid transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10px;
  opacity: 1;
  padding: 10px;
  text-transform: lowercase;
  vertical-align: middle;
  zoom: 1;
  -o-transition: color .4s ease-out, background 1s ease-in;
  -ms-transition: color .4s ease-out, background 1s ease-in;
  -moz-transition: color .4s ease-out, background 1s ease-in;
  -webkit-transition: color .4s ease-out, background 1s ease-in;
  transition: color .4s ease-out, background 1s ease-in;
}

.main-nav-item:hover {
  color: #00ffff;
}

.main-nav-item:link, .main-nav-item:visited  {
  text-decoration: none;
}

.main-nav-logo {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
  vertical-align: middle;
  zoom: 1;
}

.main-nav-logo img {
  height: 110px;
  width: 220px;
  vertical-align: middle;
}

.concierge-section {
  margin: 0px auto;
  vertical-align: middle;
  width: 960px;
  white-space: nowrap;
}

#concierge-lobby {
  -webkit-transition: -webkit-transform 400ms ease, opacity 700ms ease;
  display: block;
  height: auto;
  width: auto;
  font-family: Open Sans, sans-serif;
  margin: auto;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  transition: -webkit-transform 400ms ease, opacity 700ms ease;
  color: #ffffff;
  display: block;
  overflow: hidden;
  margin-top: 50px;
}

#concierge-welcome {
  font-family: Arial, Open Sans, sans-serif;
  font-size: 42px;
  font-weight: 800;
  padding: 50px 20px;
}

.grid-options {
  text-align: center;
  background-color: red;
}

.option {
  /*-webkit-transition:-webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transition:-webkit-transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.175);*/
  display: inline-block;
  float: left;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  width: 167px;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4fs ease-in-out;
}

.option:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
 }


/*
.option:nth-child(1) {
  -webkit-transition: 80ms;
  transition: 80ms;
}

.option:nth-child(2) {
  -webkit-transition: 160ms;
  transition: 160ms;
}

.option:nth-child(3) {
  -webkit-transition: 240ms;
  transition: 240ms;
}

.option:nth-child(4) {
  -webkit-transition: 320ms;
  transition: 320ms;
}

.option:nth-child(5) {
  -webkit-transition: 400ms;
  transition: 400ms;
}
*/

.option-icon {
  background-color: #00ffff;
  background-position: initial initial;
  background-repeat: initial initial;
  border-radius: 100%;
  display: inline-block;
  height: 150px;
  margin: 0px auto;
  width: 150px;
  zoom: 1;
}

.option-icon-img {
  display: block;
  margin: 20px auto;
}

.option-icon-img {
  width: 60px;
}

.option-title {
  color: white;
  font-size: 14px;
  white-space: pre-line;
}

.option-description {
  color: #666666;
  display: block;
  font-size: 13px;
  line-height: 140%;
  padding: 10px;
  text-align: center;
  white-space: normal;
}

#facebookpage img { 
  bottom: 25px;
  border: none;
  position: fixed;
  height: 31px;
  right: 123px;
  width: 31px;
}
#twitterpage img {
  bottom: 25px;
  border: none;
  position: fixed;
  height: 31px;
  right: 92px;
  width: 31px;
}
#youtubepage img {
  bottom: 25px;
  border: none;
  position: fixed;
  height: 31px;
  right: 61px;
  width: 31px;
}
#stumbleuponpage img {
  bottom: 25px;
  border: none;
  position: fixed;
  height: 31px;
  right: 30px;
  width: 31px;
}
