<div id="footer" style="visibility: visible; color: rgb(255, 255, 255);">
    <span>©2013-2014 Polyfit Inc.</span>
    <a href="/about">About Us</a>
    <a href="/copyright">Copyright</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms of Service</a>
    <a href="/faq">FAQ</a>
    <a href="/support">Support Us</a>
  </div>
    <a href="url" id="facebookpage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/facebook.png" tintcolor="FFFFF" defaultsrc="assets/facebook_icon.png" tintsrc="assets/facebook_icon.png"/></a>
    <a href="url" id="twitterpage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/twitter.png" tintcolor="FFFFFF" defaultsrc="assets/twitter_icon.png" tintsrc="assets/twitter_icon.png"/></a>
    <a href="url" id="youtubepage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/you_tube.png" tintcolor="FFFFFF" defaultsrc="assets/podcast_icon.png" tintsrc="assets/podcast_icon.png"/></a>
    <a href="url" id="stumbleuponpage" target="_blank">
      <img src="http://findicons.com/files/icons/2624/simple_social_icons/64/stumbleupon.png" tintcolor="FFFFFF" defaultsrc="assets/podcast_icon.png" tintsrc="assets/podcast_icon.png"/></a>