<nav class="main-nav">
  <div>
    <a href="concierge" data-section="0" class="main-nav-item is-active">Exercise<br>Concierge</a>
    <a href="workouts" data-section="1" class="main-nav-item">Browse<br>Workouts</a>
    <a href="tips and myths" data-section="2" class="main-nav-item">Fitness<br>tips &amp; myths</a>
    <a href="" data-section="0" class="main-nav-logo">
      <img src="http://cdn01.wallconvert.com/_media/wallpapers_1920x1080/1/2/polygon-batman-logo-14577.jpg">
    </a>
    <a href="Enjoy Life" data-section="4" class="main-nav-item">Balanced<br>Nutrition</a>

    <!-- If user signed in ... -->
    <a href="/signin" data-section="4" class="main-nav-item">sign in</a>
    <a href="/signup" data-section="5" class="main-nav-item">sign up</a>
  </div>
</nav>